.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app-logo {
  width: 10em;
  margin: 3em;
}

.sign-container {
  border: 2px lightgray solid;
  border-radius: 2em;
  background-color: white;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.vertical-divider {
  min-height: 100%;
  width: 2px;
  background-color: lightgray;
}

.panel {
  margin: 1em;
  width: 9em;
}


.grid-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.grid2x2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.grid2x2 > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  border: 1px solid lightgray;
  border-radius: 2em;
  margin: 1em;
  padding: 1em; 
}

.grid2x2 > div > img {
  max-width: 15em;
}

